setuptools==45
asgiref==3.2.10
attrs==19.3.0
autobahn==20.12.3
Automat==0.8.0
bokeh==2.0.2
cffi==1.13.2
channels==2.4.0
colorcet==2.0.5
constantly==15.1.0
cryptography==3.3.2
daphne==2.4.1
Django==3.1.14
holoviews==1.13.2
hvplot==0.5.2
hyperlink==20.0.1
idna==2.8
incremental==21.3.0
Jinja2==2.11.3
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.21.0
packaging==20.0
pandas==0.25.3
plotly.express==0.4.1
